$primary-color: #9013FE;
$hover-color: lighten($primary-color, 40%);
$active-color: lighten($primary-color, 10%);

$danger-color: #ce0033;

$light-grey: #e9e9e9;
$grey: #bcbcbc;
$dark-grey: #7a7a7a;

$link-color: lighten($primary-color, 20%);