@import "./color.scss";
@import "./position.scss";

#annotation-body {

	a {
      	text-decoration: none;
	}

	.button-mode-container {
	
		.button-mode {
			border-top: 2px solid $primary-color;
			border-right: 2px solid $primary-color;
			border-left: 2px solid $primary-color;
			border-bottom: 0;
			width: 55px;
			height: 55px;
			text-align: center;
			display: inline-block;
			
			&:hover {
				cursor: pointer;
			}
			i {
				font-size: 20px;
			}
			i, img {
				@include vertical-align();
			}
		}

		div:last-child {
			>.button-mode {
				border-bottom: 2px solid $primary-color;
			}
		}

		.tool-icon-box {
			>div {
				padding: 0;
				&:first-child > div {
					border-top: 0;
				}
			}
		}
		
		.button-inactive {
			background-color: white;
	    color: black;
			&:hover {
				background-color: $hover-color;
			}
		}

		.button-active {
			background-color: $primary-color;
	    color: white;
			&:hover {
				background-color: lighten($primary-color, 15%);
			}
		}
	}

/*	#dropdown-context{
   position: absolute;
   background-color: white;
   padding: 10px 15px;

  #shape-list p, #shape-list hr{
    display: inline-block;
    vertical-align: middle;
   }
  #shape-list hr{
    margin-top: 9px;
    margin-left: 10px;
    height: 2px;
    border: none;
   }

  .list-group-horizontal{
    display: inline-block;

    img{
      margin: 0 1.5em; 
      &:first-child{
        margin-left: 0;
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }

  #annotation-text{
    border-left-style: none;
    border-right-style: none;
  }
  button{
    border: none;
    float: right;
  }
}*/

/*#annotation-body{
  margin-top: 5%;
  
  .editing-menu{
    background: #E8E6E3;
    border: 1px black solid;
    position: fixed;
    left: 0;
  }
  canvas{
    float: left;
    // border: 1px black solid;
  }
  #annotation-text{
    border: 1px black solid;
    float: left;
  }
}*/

	#canvas-column{
		#main-canvas {
			display: block;
			width:100%;
			height: 100%;
		}
		#canvas-description {
			font-family: 'EB Garamond', serif;
			font-size: 26px;
		}
	}

	#annotation-column{
		font-family: 'EB Garamond', serif;

		#annotation-header{
			font-style: italic;
			font-size: 14px;
		}
		#annotation-description-container{
			margin-bottom: 20px;
		}

		#annotation-description{
			text-align: right;
			font-size: 18px;
			padding-left: 5px;
			padding-right: 5px;
			margin-bottom: 10px;
		}



		.highlight-annotation {
			&:focus {
				outline-color: $primary-color;
				outline-style: auto;
				outline-width: 5px;
			}
			span {
				background-color: $hover-color;
				&:hover {
					cursor: text;
				}	
			}
		}
		.annotation-comments{
			margin-top: 10px;
    		border-top: 1px solid $primary-color;

			.user-comment{
				text-align: left;
				font-size: 14px;
				font-style: italic;
				font-weight: 900;
			}
			.text-comment{
				text-align: left;
				font-size: 16px;
			}
		}
		.form-group{
			margin-top: 20px;
		}
	}

}