@import "./mixin.scss";

#annotation-body {

	a {
    text-decoration: none;
    font-size: 13px;
    color: $link-color;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
	}

  #canvas-image {
    display: none;
  }

	.button-mode-container {

		i {
			font-size: 23px;
		}
    img {
      width: 25px;
      height: 25px;
    }
		i, img {
			@include vertical-align();
		}

		.button-default {
			width: 55px;
			height: 55px;
			text-align: center;
		}
	
		.button-mode {
			border-top: 0;
			border-right: 2px solid $primary-color;
			border-left: 2px solid $primary-color;
			border-bottom: 2px solid $primary-color;
			
			
			&:hover {
				cursor: pointer;
			}
		}

		div:first-child {
			>.button-mode {
				border-top: 2px solid $primary-color;
			}
		}

		.tool-icon-box {
			>div {
				padding: 0;
				&:first-child > div {
					border-top: 0;
				}
			}
		}
		
		.button-inactive {
			background-color: white;
	    color: black;
			&:hover {
				background-color: $hover-color;
			}
		}

		.button-active {
			background-color: $primary-color;
	    color: white;
			&:hover {
				background-color: lighten($primary-color, 15%);
			}
		}

		.button-delete-container {
			position: absolute;
			bottom: 0;
			.button-delete {
				border-radius: 50%;
				background-color: $danger-color;
				color: $light-grey;
				&:hover{
					cursor: pointer;
					opacity: 0.8;
				}
			}
		}
	}


	#canvas-column{
		#main-canvas {
			display: block;
			width:100%;
			height: 100%;
		}
    .image-medium-container {
      margin-bottom: 5px;
    }
    .canvas-description {
      border: none;
      outline: none;
      padding: 0;
      max-width: none !important; /*overriding pu-elastic-input */
      min-width: 20px;
      &.image-artist {
        font-size: 21px;
        font-weight: bold;
      }
      &.image-title {
        font-size: 21px;
        font-weight: bold;
        font-style: italic;
      }
      &.image-year {
        font-size: 21px;
      }
      &.image-medium {
        font-size: 18px;
      }
      &.image-others {
        font-size: 15px;
      }

    }

    textarea {
      width: 100%;
      resize: none;
    }

    .edit-canvas-description {
      border: 1px solid $light-grey;
      border-radius: 2%;
      &:focus {
        outline-color: $active-color;
        outline-style: auto;
        outline-width: 3px;
      }  
    }

    .description-group {
      width: 100%;
    }

    .description-group-inline {
      width: auto;
      display: inline-block;
    }

    .description-label {
      display: block;
      font-size: 11px;
      font-weight: normal;
      margin-bottom: -2px;
      margin-top: 3px;
    }

    .label-dimensions {
      margin-top: -2px;
    }
	}

	#annotation-column{
		font-family: $font-sans;

    .add-comment-textarea {
      width: 100%;
      border: 1px solid $light-grey;
      border-radius: 2%;
      padding-left: 10px;
      padding-right: 10px;
      outline: none;
      resize: none;
      overflow: hidden;
      &:focus {
        outline-color: $active-color;
        outline-style: auto;
        outline-width: 3px;
      }
    }

    .edit-text-column {
      padding: 0;
    }

    .annotation-user-details {
      font-size: 12px;

    }

		#annotation-header{
			font-size: 18px;
      font-weight: 300;
      margin-bottom: 10px;
      border-bottom: 1.5px solid $dark-grey;
		}
		#annotation-description-container{
      margin-bottom: 5px;
		}

		#annotation-description{
			width: 100%;
			text-align: right;
			font-size: 15px;
      line-height: 20px;
			&:hover {
				cursor: default;
			}

			textarea {
				width: 100%;
        padding-right: 10px;
				border: none;
				outline: none;
				resize: none;
        overflow: hidden;
			}

			&.highlight-annotation {
				outline-color: $active-color;
				outline-style: auto;
				outline-width: 3px;
				&:hover {
					cursor: type;
				}
			}

		}


    .annotation-comments-container{
      padding-left: 30px;
      padding-right: 0;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
		
		.annotation-comments{
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 0;
      border-top: 1px solid $light-grey;
      line-height: 15px;
      text-align: left;
		}
		
	}

  .text-comment{
    font-size: 13px;
    color: $dark-grey;
    .user-comment{
      color: $link-color;
    }
    .date-comment{
      color: $grey;
    }
  }

  


  .action-divider {
    color: $light-grey;
  }

}