@import "./color.scss";

#annotation-body {

	a {
      	text-decoration: none;
	}

	.button-mode-container {
	
		.button-mode {
			border-top: 2px solid $primary-color;
			border-right: 2px solid $primary-color;
			border-left: 2px solid $primary-color;
			border-bottom: 0;
			width: 55px;
			height: 55px;
			text-align: center;
			display: inline-block;
			
			&:hover {
				cursor: pointer;
			}
			span {
				position: relative;
				top: 12px;
				/*font-size: 20px;*/
			}
		}

		div:last-child {
			>.button-mode {
				border-bottom: 2px solid $primary-color;
			}
		}

		.tool-icon-box {
			padding: 0;
		}
		
		.button-inactive {
			background-color: white;
			span {
	      		color: black;
			}
			&:hover {
				background-color: $hover-color;
			}
		}

		.button-active {
			background-color: $primary-color;
			span {
	      		color: white;
			}
		}
	}

	#canvas-column{
		#main-canvas {
			display: block;
			width:100%;
			height: 100%;
		}
		#canvas-description {
			font-family: 'EB Garamond', serif;
			font-size: 26px;
		}
	}

	#annotation-column{
		font-family: 'EB Garamond', serif;

		#annotation-header{
			font-style: italic;
			font-size: 14px;
			margin-top: 10px;
			margin-bottom: -20px;
		}
		#annotation-description{
			margin-top: -10px;
			margin-bottom: 20px;
			text-align: right;
			font-size: 18px;
		}
		.annotation-comments{
			margin-top: 10px;
    		border-top: 1px solid $primary-color;

			.user-comment{
				text-align: left;
				font-size: 14px;
				font-style: italic;
				font-weight: 900;
			}
			.text-comment{
				text-align: left;
				font-size: 16px;
			}
		}
		.form-group{
			margin-top: 20px;
		}
	}

}