.navbar{
	.dropdown:hover .dropdown-menu {
		display: block;
		background-color: rgba(30, 30, 30, 0.1);
	}
	/*padding: 0 100px;*/
	background-color: rgba(31, 30, 30, 0.1);
	li{
		a{
			color: white;
			font-size: 20px;
			font-family: EB Garamond;

			&:hover{
				background:none;
				color: #9013FE;
			}
		}
	}
}

hr{
  margin-top: 8px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #dce0e0;
}

.loginForm{
  padding:20px;
}

.expand-input{
  input{
    height:35px;
  }
}

.imgUpload{
  height:300px;
  width:300px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
