@import './mixin.scss';

.custom-navbar{
  background-color: $light-grey;
  border-bottom: 2px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
	.dropdown:hover .dropdown-menu {
		display: block;
    /*background: white;*/
    box-shadow: none;
		background-color: $light-grey;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    /*top: 110%;*/
    border-radius: 2px;
    outline: none;
    .divider {
      background-color: $dark-grey;
    }
	}
	/*padding: 0 100px;*/
/*  li {
  background-color: $light-grey;
    background: none;
    &:hover {
      background: none;
    }
  }*/
	.navbar-link{
		color: black;
		font-size: 20px;
    font-weight: 300;
		font-family: $font-sans;
    
    &:focus {
      background: none;
      color: black;
    }

		&:hover{
      cursor: pointer;
      background: none;
      color: $grey;
      /*color: $grey;*/
		}
	}
}

hr{
  margin-top: 8px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #dce0e0;
}

.loginForm{
  padding:20px;
}

.expand-input{
  input{
    height:35px;
  }
}

.imgUpload{
  height:300px;
  width:100%;
  background-image: url('http://i.imgur.com/A0AzddO.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
