@import "./color.scss";

.navbar{
	background-color: $light-grey;
	li{
		a{
			color: white;
			font-size: 20px;
			font-family: EB Garamond;

			&:hover{
				background:none;
				color: $primary-color;
			}
		}
	}
}