<div id='annotation-body'>
    <div class='row'>
        <!-- <div style="float:left"> -->
    	<div class='col-md-offset-1 col-md-1'>
            
            <div class='row button-mode-container'>
                <div class='col-md-12'>
                    <div class="button-mode {{editMode ? 'button-active' : 'button-inactive'}}" ng-click='switchEditMode()' >
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </div>
                </div>

                <div class='col-md-12'>
    	    		<div class="button-mode {{addMode ? 'button-active' : 'button-inactive'}}" ng-click='switchAddMode()'>
                        <i class="fa fa-plus" aria-hidden="true"></i>
    		        </div>
                    <div class='button-mode-container tool-icon-box' id='dropdown-context' ng-show="addMode">
                        <div class='col-md-12' ng-repeat='image in toolIcons' >
                            <div class="button-mode {{isEqualToToolSelected(image.name) ? 'button-active' : 'button-inactive'}}" ng-click='selectDrawTool(image.name)'>
                                <img ng-src='{{image.url}}'/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- <div id="canvas-column"> -->
        <div class='col-md-6 col-lg-5' id="canvas-column">
            <div id="canvas-container">
        	   <canvas id='main-canvas'></canvas>
            </div>
            <div id="canvas-description">
                Les Demoiselles d'Avignon - Pablo Picasso
            </div>
        	
        </div>

        <!-- <div id="annotation-column" style="float:right" ng-show="showAnnotation"> -->
        <div id="annotation-column" class='col-md-4 col-lg-3' ng-show="showAnnotation">
            <div class='col-md-12' id="annotation-header">annotation</div>
            <div class='col-md-12' id="annotation-description-container">
                <div ng-class="shouldShowUpdateAnnotation() || shouldShowSubmitAnnotation() ? 'highlight-annotation' : '' " id="annotation-description">
                    <textarea disabled=true elastic ng-model="annotationText"></textarea>
                </div>
                <a type="submit" class="pull-right" ng-if="shouldShowEditAnnotation()" ng-click="switchToEditAnnotationText()">edit</a>

                <button type="submit" ng-if="shouldShowSubmitAnnotation()" class="btn btn-default pull-right" ng-click="submitNewAnnotationText()">submit</button>

                <a type="submit" ng-if="shouldShowSubmitAnnotation()" class="pull-right" ng-click="destroyNewAnnotation()">delete</a>
                
                <button type="submit" ng-if="shouldShowUpdateAnnotation()" class="btn btn-default pull-right" ng-click="updateEditAnnotationText()">update</button>

                <a type="submit" ng-if="shouldShowUpdateAnnotation()" class="pull-right" ng-click="cancelEditAnnotationText()">cancel</a>
            </div>
            <div class="col-md-12 annotation-comments" ng-repeat="comment in comments">
                <div class="text-comment">{{comment.text}} <span class="user-comment">- {{comment.user}}</span></div>
            </div>
            <div class="col-md-12 form-group">
                <textarea id="annotation-submit" class="form-control" rows="4" id="exampleInputEmail1" placeholder="Comment something..."></textarea>
            </div>
            <button type="submit" class="btn btn-default pull-right">comment</button>
        </div>
    </div>
</div>